@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,300;0,700;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*font-family: 'Poppins', sans-serif;
font-family: 'Playfair', serif;*/

/*navbar customization*/

.navbar{
  font-family: 'Playfair', serif;
  background: rgba(255, 98, 0, 0.848);
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 1px 1px 2px rgb(194, 191, 191);
}

.navbar button{
  color: black;
}
.nav-link{
  color: black;
}

.active{
  border-bottom: 1px solid black;
}

.navbar-brand{
  color: White; 
 
}


.navbar-brand-identity a{
  font-weight: 700;
  color: White;
  text-decoration: none;

}

.navbar-brand-identity a:hover{
  text-decoration: none;
  color: black;
}

.store-title{
  color: black;
}

.store-title:hover{
  color: white;
}


/*footer*/
.footer a{
  color:  rgba(255, 98, 0, 0.848);
}

.footer a:hover{
  color: white;
  text-decoration: none;
}

.pnf{
  display: flex;
  min-height: 65vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  
}

.pnf-subtitle{
  padding: 10px;
  color: rgb(255, 132, 0);

}

.pnf-btn{
  padding: 10px;
  background-color: bisque;
  padding: 10px;
  border: .2px solid rgb(255, 132, 0);
  color: black;
}

.pnf a:hover{
  text-decoration: none;

}

/*register*/

.register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
  font-family: 'Playfair', serif;
 
}


.registration-form{
  margin-top: 20px;
  text-align: center;
  width: 50vh;
}